* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: #c2b09b;
    margin: 0;
    color: white;
}

body {
    text-align: center;
    margin: 0;
}

header {
    margin: 30px;
}

header img {
    max-width: min(40%, 300px);
}

#div-building {
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #ffe5be;
    padding: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: min(80%, 400px);
}

#building {
    max-height: 60vh;
    width: 100%;
}

.floor-1, .floor-2, .floor-3 {
    transition: 0.5s;
}

.led-off {
    opacity: 0;
    transition: 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;;
    text-align: center;
    color: red;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    justify-self: center;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .controles {
    width: min(90%, 800px);
    margin: auto;
    margin-top: 20px;
  }

  .controle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 30px;
  }

  .control-label {
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: right;
  }

  .range {
    width: min(300px, 80%);
    grid-column-start: span 2;
    justify-self: center;
    margin-bottom: 50px;
    margin-top: -10px;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  #catavento {
    animation: rotation 2s linear infinite;
    transform-origin: 50% 45%;
  }